/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/*****************************************************RESET CSS***************************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/********************************************************PERSONAL CSS************************************************************/

body{
    background-color: black;
    color:#da680f;
    box-sizing: border-box;
}

button{
    background-color: black;
    color: white;
    font-size: 1.5rem;
    font-family: 'Orbitron', sans-serif; 
    cursor: pointer;   
}

::selection{
    background-color: #faad73;
}

.border {
    border-radius: 100rem;
    padding: 1rem;
    font-size: 1.7rem;
    padding: .5rem 3rem;
    color: #F57513;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(to right, #F53803, #F5D020);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px black inset;
  }

/*****************INPUT-BOX*********************/
.numbox{
    display: flex;
    border:5px solid #F57513;
    height: 250px;
    width: 99%;
    flex-direction: row;
    justify-content:end;
    align-items: flex-end;
    font-size: 2.5rem;
    font-family: 'Orbitron', sans-serif;
}

.numbox div{
    display: inline-block;
    margin: 2%;  
} 

/************************OPERATIONS**********/
.ops{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: flex-end;
    margin-top: 5%;
}

/*********************AUX*****************/
.aux{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}

.aux div{
    text-align:center;
    width: 70%;
}


#save button{
    background-color: #6a4ea6;
    border: none;
    border-radius: 12px;
    padding: 1.5%;
}
#reset button{
    background-color:#24224b;
    border:none;
    border-radius: 12px;
    padding: 1.5%;
}

/****************************PREVIOUS RESULTS********************/
#prev{
    margin: auto;
    margin-top:15px;
    width: 470px;
    height: 65px;
    background-color: whitesmoke;
    text-align: center;
    font-size: 22px;
    overflow:auto;
    font-weight: 500;
    border-radius: 15px;
}
/**********************************hover effects*******************/
button:hover
{
    scale:1.09
}

/*******************************RESPONSIVE**********************/


@media(max-width:630px)
{
    .aux{
       display: block;
       margin-left:110px;
    }

    .numbox{
        font-size: 1.4rem;
    }
}

@media(max-width:375px)
{
    .numbox{
        font-size: 0.5rem;
    }
}